<div th:fragment="footer">
    <div class="container mt-5">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 txt-footer">Home</a></li>
                <li class="nav-item"><a href="/fitness/exercise-log" class="nav-link px-2 txt-footer">Exercise Log</a></li>
                <li class="nav-item"><a href="/fitness/exercises" class="nav-link px-2 txt-footer">Exercises</a></li>
            </ul>
            <p class="text-center txt-footer">2024 The Fluyter ©</p>
        </footer>
    </div>
</div>