<div th:fragment="header">
    <header class="sticky-top bg-light border-bottom">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-2">
                <a href="/" class="btn btn-secondary">HOME</a>
                <div>
                    <a href="/fitness/exercise-log" class="text-decoration-none text-secondary">LOG</a>
                    <a href="/fitness/exercises" class="text-decoration-none text-secondary ml-3">EXERCISES</a>
                    <a href="/login" class="text-decoration-none text-primary ml-3">LOGIN</a>
                    <div class="dropdown d-inline ml-3"
                         th:if="${#authentication.principal != 'anonymousUser'}">
                        <a class="dropdown-toggle text-success text-decoration-none" href="#" role="button" data-bs-toggle="dropdown">
                            <span th:text="${#authentication.name}">User</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>